<mat-card>
    <mat-card-title>
        Bem vindo!
    </mat-card-title>
    <mat-card-subtitle>
        subtitulo da tela de agendamento
    </mat-card-subtitle>
    <mat-card-content>
        texto principal da tela de agendamento!
    </mat-card-content>
</mat-card>

<div class="container p-4">
    <app-agendamento-read></app-agendamento-read>       
</div>

<div class="container">

    <button mat-raised-button color="primary" (click)="navigateToCreateAgend()">
        Novo agendamento
    </button>
</div>
