<mat-toolbar color="primary" class="header mat-elevation-z4">
    
    <span>
        <a >
            <img class="logo" src="../../../../assets/img/android-chrome-192x192.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a >
            <i class="material-icons">home</i>
            Início
        </a>
        
    </span>
    <span class="user-login">
        <a >
            <i class="material-icons">account_circle</i>
            Faça seu login
        </a>
        
    </span>

</mat-toolbar>