<mat-card class="container p-4">
  <mat-card-title > Bem vindo! </mat-card-title>
  <mat-card-subtitle >
    Sistema para agendamento de vacinas em casa
  </mat-card-subtitle>
</mat-card>


<div class="container-home importancia container p-4  mat-elevation-z4">
  <div class="main">
    <div class="home-divider_1">
      <p><img
        _ngcontent-tdo-c177=""
        src="../../../../assets/img/vacinacao.jpg"
        alt="Vacinação"
        class="logo"
        height="300px"
      /></p>
    </div>
    <div class="home-divider_2">
      <h2>A importância da vacinação.</h2>
      <mat-list role="list">
        <mat-list-item class="lista-item" role="listitem">
          <p>
            A vacinação contra o virús Sars-Cov 2 (Covid-19) é importante principalmente
            para redução de casos, internações, mortes por falta de leitos nos hospitais, ou
            por falta de informações.
          </p>
        </mat-list-item>
        <mat-list-item class="lista-item" role="listitem">
          <p>
            A importância da vacinação.  A vacinação contra o virús Sars-Cov 2 (Covid-19) é importante principalmente para redução de casos, internações, mortes por falta de leitos nos hospitais, ou por falta de informações.   O SOS Covid é um sistema agendamento de vacinas para sua casa para que as pessoas evite irem as ruas e se aglomerarem em postos de saúde, hospitais e tendas  de vacinação.
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</div>


<div class="container-home importancia container p-4 last-object  mat-elevation-z4">
  <div class="main">
    <div class="home-divider_1">
      <p><img
        _ngcontent-tdo-c177=""
        src="../../../../assets/img/vacinacao.jpg"
        alt="Vacinação"
        class="logo"
        height="300px"
      /></p>
    </div>
    <div class="home-divider_2">
      <h2>A importância da vacinação.</h2>
      <mat-list role="list">
        <mat-list-item class="lista-item" role="listitem">
          <p>
            A vacinação contra o virús Sars-Cov 2 (Covid-19) é importante principalmente
            para redução de casos, internações, mortes por falta de leitos nos hospitais, ou
            por falta de informações.
          </p>
        </mat-list-item>
        <mat-list-item class="lista-item" role="listitem">
          <p>
            A importância da vacinação.  A vacinação contra o virús Sars-Cov 2 (Covid-19) é importante principalmente para redução de casos, internações, mortes por falta de leitos nos hospitais, ou por falta de informações.   O SOS Covid é um sistema agendamento de vacinas para sua casa para que as pessoas evite irem as ruas e se aglomerarem em postos de saúde, hospitais e tendas  de vacinação.
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

</div>