<mat-card layout="row">
  <mat-card-title flex="50"> Bem vindo! </mat-card-title>
  <mat-card-subtitle flex="50">
    Sistema para agendamento de vacinas em casa
  </mat-card-subtitle>
</mat-card>
<br />
<h2>A importância da vacinação.</h2>
<br />
A vacinação contra o virús Sars-Cov 2 (Covid-19) é importante principalmente
para redução de casos, internações, mortes por falta de leitos nos hospitais, ou
por falta de informações. <br />

<p>
  <img
    _ngcontent-tdo-c177=""
    src="../../../../assets/img/vacinacao.jpg"
    alt="Vacinação"
    class="logo"
    height="300px"
  />
</p>
<br />
O SOS Covid funciona como um buscador de vacinas, marcando a vacinação para sua
casa para que as pessoas evitem ir as ruas e se aglomerarem em postos de saúde,
hospitais e tendas de vacinação.
