<mat-sidenav-container  class="container-nav">
    <mat-sidenav  (keydown.escape)="close('escape')"  class="sidenav" mode="over" #sidenav fixedInViewport >
        <mat-nav-list  class="nav-list">
            <a (click)="close('toggle button')" mat-list-item routerLink="/">
                <i class="material-icons">home</i>
                Início
            </a>
            <a  (click)="close('toggle button')" mat-list-item routerLink="/login">
                <i class="material-icons">lock</i>
                Login
            </a>
            <a (click)="close('toggle button')" mat-list-item routerLink="/agendamento">
                <i class="material-icons">event</i>
                Agendamento
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content color="" class="nav-content P-6">
        <router-outlet flex="100">
            <button mat-mini-fab color="primary"  class="sidenav-icon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>