<mat-card>
    <mat-card-title>
        Bem vindo!
    </mat-card-title>
    <mat-card-subtitle>
        Sistema para agendamento de vacinas em casa, faça seu login!
    </mat-card-subtitle>
</mat-card>
<mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
    
        <div class="dvider1 col-4 offset-2">
            <span><img src="../../../../assets/img/android-chrome-192x192.png" alt=""></span>
            <button mat-raised-button (click)="navigateToCadastro()" class="btn--cadastro" >Cadastre-se</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>

        <div class="divider2 col-4 ">
            <form>
                <mat-form-field>
                    <mat-label for="LoginCpf" class="">CPF</mat-label>
                    <input  matInput type="text" class="" id="LoginCpf" placeholder="Insira seu CPF">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label for="loginPassword" class="">Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button type="submit" mat-raised-button  class="" >Login</button>
            </form>
        </div>
    </mat-grid-tile>
           
</mat-grid-list>